.error-page_box {
    width: 500px;
    height: 300px;
    margin: 50px auto;
}

.error-box_content {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.error-box_text {
    color: black;
    font-size: 40px;
    font-weight: 700;
}