* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-stack;
    font-size: 62.5%;
}
  
body {
    background-image: url('../i/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}