body.client-theme {
  background-image: url("../i/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

@media screen and (min-width: 800px) {
  .client-ui {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1050px) {
  .client-ui {
    padding: 0 100px;
  }
}

@media screen and (max-width: 800px) {
  .client-ui {
    padding: 0;
  }
}